@page "/"

<PageTitle>Text to Image</PageTitle>
<div class="d-flex gap-2">
   <label for="Text" class="form-label">Description:</label>
    <textarea cols="120" rows="2" type="text" @bind="Text" title="Text" autofocus="autofocus"/>
    <button type="button" class="btn btn-primary" @onclick="GenerateImage" title="Generate Image">Generate</button>
</div>
<div>
    <img src="@Image" alt="Generated Image" />
</div>
