@page "/"

<PageTitle>Text to Image</PageTitle>
<label for="Text" class="form-label">Description:</label>
<div class="d-flex gap-2">
    <textarea cols="120" rows="1" type="text" @bind="Text" title="Enter a description of the image to generate" autofocus="autofocus"/>
    <select title="Style Preset">
        <option value="3d-model">3D Model</option>
        <option value="analog-film">Analog Film</option>
        <option value="anime">Anime</option>
        <option value="cinematic">Cinematic</option>
        <option value="comic-book">Comic Book</option>
        <option value="digital-art">Digital Art</option>
        <option value="enhance">Enhance</option>
        <option value="fantasy-art">Fantasy Art</option>
        <option value="isometric">Isometric</option>
        <option value="line-art">Line Art</option>
        <option value="low-poly">Low Poly</option>
        <option value="modeling-compound">Modeling Compound</option>
        <option value="neon-punk">Neon Punk</option>
        <option value="origami">Origami</option>
        <option value="photographic">Photographic</option>
        <option value="pixel-art">Pixel Art</option>
        <option value="tile-texture">Tile Texture</option>
    </select>
    <button type="button" class="btn btn-primary" @onclick="GenerateImage" title="Generate an image based on the description">Generate</button>
</div>
<div>
    <img src="@Image" alt="Generated Image" />
</div>